
<mat-card class="padre">
  <mat-card-title>Registrate Aqui</mat-card-title>
 
<form  novalidate [formGroup]="formUser" (ngSubmit)="saveData()" >
    <div  class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput  formControlName="userName" type="text" placeholder="User Name" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput  formControlName="usuario" type="text" placeholder="Usuario" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput  formControlName="password" type="password" placeholder="Password" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput  formControlName="confPassword" type="password" placeholder="confirmar Password" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput  formControlName="email" type="email" placeholder="Email" >
  </mat-form-field>
  <mat-checkbox formControlName="checked">Terminos y Condiciones</mat-checkbox>
</div>
  <button mat-button color="primary" type="submit" [disabled]="formUser.invalid" >Save</button>
  
  <p>Form: {{formUser.value | json}}</p>
  <p>Form status: {{formUser.status}}</p>
  <p>Form password :{{formUser.get('password').status}}</p>
  <p>Form confPassword :{{formUser.get('confPassword').status}}</p>
  <p>Form email :{{formUser.get('email').status}}</p>
  <p>Form userName :{{formUser.get('userName').status}}</p>
  <p>Form userName :{{formUser.get('usuario').status}}</p>
  <p>Form checked :{{formUser.get('checked').status}}</p>
</form>
</mat-card>