<div class="padre">
    <div>
        <img height="160px" width="140px" src="http://athink.in//img/user_login.png">
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Usuario" [(ngModel)]="nombre" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password" [(ngModel)]="contracena" />
        </mat-form-field>
    </div>
    <div>
        <button class="colorbutton" mat-button (click)="validarUser()">Login Usuer</button>
    </div>
</div>